<div class="card">
    <img src={{thumbnail}} class="card-img-top" alt="game-thumbnail">
    <div class="card-body">
        <h5 class="card-title"><a href={{URL}}>{{headline}}</a></h5>
        <p class="card-text">{{summary}}</p>
    </div>
    <div class="accordion" id="accordion-parent{{id}}">
        <div class="card-header" id="heading{{id}}">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{id}}"
                    aria-expanded="false" aria-controls="collapse{{id}}">
                    Comments
                </button>
            </h2>
            {{#unless saved}}
            <button class="btn btn-success save-button" id='save-button{{id}}' data-id={{_id}}>Save Review</button>
            {{/unless}}
            {{#if saved}}
            <button class="btn btn-danger unsave-button" id='unsave-button{{id}}' data-id={{_id}}>Remove Saved Review</button>
            {{/if}}
        </div>

        <div id="collapse{{id}}" class="collapse" aria-labelledby="heading{{id}}" data-parent="#accordion-parent{{id}}">
            <div class="card-body">
                <form class="was-validated">
                    <div class="mb-3">
                        <label for="validationTextarea">Enter New Comment</label>
                        <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Type comment here." required></textarea>
                        <div class="invalid-feedback">
                            Please enter a message in the text area.
                        </div>
                        <button class="btn btn-primary note-button" type="submit" id='button{{id}}' data-id={{_id}}>Submit Message</button>
                </form>
            </div>
            <hr>
            {{#each notes}}
            {{> note-block}}
            <hr>
            {{/each}}
        </div>
    </div>
</div>
</div>